---
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"blog">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;

const { title, description, ...props } = data;
---

<li class="group my-6 border-b border-border pb-6 last:border-b-0">
  <a
    href={getPath(id, filePath)}
    class:list={[
      "inline-block text-foreground",
      "transition-colors group-hover:text-accent",
      "focus-visible:text-accent focus-visible:no-underline",
    ]}
  >
    <Heading
      style={{
        viewTransitionName: slugifyStr(title.replaceAll(".", "-")),
      }}
      class="text-xl font-semibold tracking-tight sm:text-2xl"
    >
      {title}
    </Heading>
  </a>
  <Datetime {...props} />
  <p class="mt-2 text-muted-foreground">{description}</p>
</li>
